/* Style pour les cartes de questions */


html{
    background-color: cadetblue;
}

.quiz-card {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: lightgrey;
}

/* Style pour le titre de la carte */
.quiz-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Style pour les boutons "Vrai" et "Faux" */
.quiz-card .answer-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
}

.quiz-card .answer-button:hover {
    background-color: #0056b3;
}

/* Style pour le message de réponse */
.quiz-card .answer-message {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}


/* Style pour le bouton de retour */
.footer {
    text-align: center; /* Centre le contenu horizontalement */
    margin-top: 20px; /* Ajoute un espacement en haut du bouton */
}

.footer a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.footer a:hover {
    background-color: #0056b3;
}
